.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
}

.header__logo {
    height: 30px;
    object-fit: contain;
    margin-left: 20px;
}

.header__input {
    display: flex;
    align-items: center;
    width: 40%;
    border: 1px solid black;
}
.header__inputButton {
    /* width: 10% !important; */
    background-color: #fafafa;
    border-left: solid lightgray;
    color: gray;
    

}

.header__icons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__input > input {
    flex: 1;
    border: none;
}

.header__icon {
    margin-right: 10px;
}